@import "tailwindcss";
@plugin "daisyui";


/* Theme Custom Colors */
@theme {
    --color-t-primary: #FD8549;
    --color-t-secondary: #2F3C4C;
    --color-t-background: #F6FDFE;
}

.active{
    color: #00BDE0;
    font-weight: 600;
}
